

#form-wrapper {
    margin: 10vh auto;
    display: flex;
    max-width: 650px;
    justify-content: space-around;
    flex-basis: 60vw;
    border-radius: 10px;
    flex-flow: column nowrap;

    min-height: 55vh;
    background-color: var(--main-fg);
    box-shadow: 6px 6px 16px rgba(10, 16, 51, 0.59),
    -6px -6px 16px rgba(57, 145, 233, 0.57);


}

.activity-form {
    min-width: 50%;
    display: flex;
    justify-content: space-around;
    flex-flow: column wrap;
    flex-basis: 40vh;
    align-items: center;
    flex-grow: 4;
    min-height: 60%;

}
input:focus  {
    outline: none;
}

.activity-form:focus {
    outline: none;
}

.activity-form > h2 {
    color: var(--accent-two);
    font-size: 3vh;
    font-family: "Gill Sans", monospace;
    margin-top: .5vh;
}


.form-input-label {

    display: none;
}
.activity-form-textarea-input {
  border: none;
    background-color: hsla(179, 88%, 68%, 0.61);
    border-radius: 5px;
    flex-grow: 0.5;
    min-width: 50%;
    padding: 1vh 1vw;
    font-size: 1.8vh;
   box-shadow: -3px 3px 10px inset rgba(70, 70, 140, 0.65);
}

.activity-form-text-input {
    display:flex;
    flex-direction: row;
    border: none;
    background-color: hsla(179, 88%, 68%, 0.61);
    border-radius: 5px;
    flex-grow: 0;
    min-width: 50%;
    padding: 1vh 1vw;
    font-size: 1.8vh;
    box-shadow: -2px 2px 10px inset rgba(70, 70, 140, 0.65);
}

.button-primary {
    border: none;
    cursor: pointer;
    background-color: #234fa9;
    color: white;
    padding: 1vh 1vw;
    border-radius: 5px;
    text-align: center;
    width: 45%;
    font-size: 2.2vh;
    box-shadow: 6px 6px 12px rgba(21, 33, 66, 0.52),
                 -6px -6px 12px rgba(50, 86, 231, 0.62);
    transition-property: background;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;


}
.button-primary:focus {
    outline: none;
    border: none;
}
.button-primary:hover {
    background-color: hsl(220, 57%, 40%);

}
.button-primary:active {
    background-color:  hsl(220, 57%, 60%);
    box-shadow: 6px 6px 16px inset rgba(21, 33, 66, 0.52),
    -6px -6px 16px inset rgba(40, 123, 255, 0.57);

}

.button-cancel {
    border: none;
    color: #d9d7db;
    padding: 1vh 1vw;
    border-radius: 5px;
    cursor:pointer;
    background: #6c74dd;
    font-size: 2.2vh;
    width: 45%;
    box-shadow:  -6px -6px 16px rgba(148, 81, 255, 0.65),
    6px 6px 16px rgba(21, 33, 66, 0.52);
    transition-property: background;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

.button-cancel:focus {
    outline: none;
    border:none;
}

.button-cancel:hover {
    background-color: rgba(116, 71, 187, 0.9);
    color: white;

}

.button-cancel:active {
    background-color: #715cd6;
    color: #dde0ff;
    box-shadow: -2px 10px 11px 0 inset rgba(189, 255, 226, 0.22),
    -1px 3px 3px 3px inset rgba(25, 62, 124, 0.43);
}


.form-control-group {
    display: flex;
    min-width: 50%;
    justify-content: space-around;
}
form > a {
    color: #9fd7ff;
}
a.nav-link {
    color: white;
}
#navlist > li > a {
    color: white;
    font-size: 1.8vh;
    font-weight: bold;
}

#form-wrapper > form > input.login-form-username-input.activity-form-text-input {
    color: white;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--white);
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--white);
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--white);
}