p.popular , li {
       color: var(--white)
   }

#popular-wrapper {
    padding: 1vh 1vw;
    margin: 3vh 1vw 10vh 1vw;
    display: flex;
    min-width: 35vw;
    max-width: 45vw;
    justify-content: space-around;

    border-radius: 10px;
    flex-flow: column wrap;
    min-height: 65vh;
    background-color: var(--main-fg);
    box-shadow: 6px 6px 16px rgba(10, 16, 51, 0.59),
    -6px -6px 16px rgba(57, 145, 233, 0.57);
}

