#popular-wrapper  li {
        background-color: var(--input-bg);
        color: var(--main-text);
        max-heigth: 8vh;
   }

#popular-wrapper {
    padding: 1vh 1vw;
    margin: 5vh 1vw 2vh 1vw;
    display: flex;
    position: relative;
    min-width: 44vw;
    max-width: 95vw;
    flex-grow: 0;
    align-content: center;
    justify-content: flex-start;

    border-radius: 10px;
    flex-flow: column nowrap;
    min-height: 75vh;
    max-height: 350vh;
    background-color: var(--card-bg);
    box-shadow: var(--big-shadow);
}

