#introduction {
    text-align: center;
    margin: .5vh 3vw .2vh 3vw;
    line-height: 1em;
    display: flex;
    font-size: 2vh;
    font-weight: bold;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: hsl(210, 60%, 30%);
}

#intro-text {
    color: var(--main-text);
}
#registration-form  {
    min-width: 80%;
    display: flex;
    justify-content: space-around;
    flex-flow: column wrap;
    flex-basis: 40vh;
    align-items: center;
    flex-grow: 4;
    min-height: 60%;
}
.button-guest {

    cursor: pointer;
    background-color: var(--main-bg);
    border-style: groove;
    color: var(--main-text);
    padding: .5vh .5vw;
    border-radius: 5px;
    text-align: center;
    width: 45%;
    padding: 1vh;
    font-size: 2vh;
    box-shadow: 2px 2px 4px rgba(128, 128, 128, 0.46);


    transition-property: background;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;


}
.button-guest:focus {
    outline: none;
    border: none;
}
.button-guest:hover {
    background-color: hsla(10, 36%, 56%, 0.59);

}
.button-guest:active {
    background-color: hsl(174, 16%, 49%);
    box-shadow: -2px 10px 11px inset rgba(189, 255, 226, 0.22),
    -1px 3px 3px   rgba(25, 62, 124, 0.43);
}

form > a {
    color: var(--main-text)
}


