@keyframes slide-in {
    0% {
        transform: translateX(-200vw)
    }
    100% {
        transform: translateX(0vw)
    }
}

@keyframes slide-out {
    0% {
        transform: translateX(0vw)
    }
    100% {
        transform: translateX(200vw)
    }
}