section.top-activities {
    display : flex;
    flex-flow: row wrap;
    width: 100vw;
    max-height: 80vh;
    justify-content: space-between;
}

.top-activities-lonely {
    display : flex;
    flex-flow: row wrap;
    width: unset;
    max-height: 80vh;
    justify-content: space-between;
}
.hideMeh {
    display: none;
}