h1#brand {
 font-family: 'Montserrat Subrayada';
  color: var(--primary);
  font-size: 1.8em;
  margin-left: 3vw;
}
.header {
  background-color:  var(--secondary);
  position:fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  width: 100vw;
  padding: 1vh 2vw;
  height: 10vh;
  align-items: baseline;
  align-content: center;

  z-index: 1;
}
.header > button {

  background-color: inherit;
  border: none;
    font-size: 2.2vh;
    color: var(--sun);
}

.NavBar {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: baseline;
  margin: 0 auto;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100vw;
  min-height: 10vh;
  max-height: 10vh;
  z-index: 1;

}

span#nameSpan {
  font-size: .7em;

}

#navlist {
    border-top :5px solid white;
  background: var(--secondary);
  display: flex;
  width: 100%;
  justify-content: space-around;
  list-style-type: none;
  position: absolute;
  bottom: 0;
  margin: 5vh 0 0 0;
  padding: 3vh 1vw;


}

#navlist  a.nav-link {
  text-decoration: none;
  color: var(--header-text);
}

.nav-link:hover {
  text-decoration: underline;
}
button.theme-switch {
    text-align: center;
    padding: 1vh 1vw;
  font-size: 2em;
}



@media all and (min-width: 768px) and (max-width: 1024px) {
  .NavBar {
    top: 0;
    width: 50vw;
    bottom: unset;
    min-height:10vh;
    max-height: 10vh;
  }

  #navlist {
    bottom: unset;
    top: 0;
    width: 50vw;

    position: relative;
    min-height:10vh;
    max-height: 10vh;
    align-items: center;
    background-color: transparent;
  }

  .header {
    min-height:14vh;
    max-height: 20vh;
  }
  span#nameSpan {
    font-size: .8em;
    font-color: var(--secondary-text);
  }

}

@media all and (min-width: 1024px) and (max-width: 2880px) {
  .NavBar {
    top: 0;
    width: 50vw;
    bottom: unset;
    min-height:10vh;
    max-height: 10vh;

  }

  #navlist {
    bottom: unset;
    top: 0;
    width: 50vw;
    position: relative;
    border-top: none;
    border-bottom: 5px solid white;
    min-height:10vh;
    max-height: 10vh;
    padding: 1vh 1vw;
    align-items: center;
    background-color:transparent;
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
  .NavBar {
    width: 100vw;
    min-height:10vh;
    max-height: 10vh;
  }

  #navlist {
    bottom: 0;
    width: 100vw;
    position: absolute;

    min-height:10vh;
    max-height: 10vh;
    padding: 1vh;
    align-items: center;
    background-color: var(--secondary);
    color: var(--primary);
  }
  .header {
    max-height: 10vh;
  }



}
