.NavBar {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: inherit ;
    margin: .5vh 1vw;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100vh;
}
#navlist {
    display: flex;
    width: 50%;
    justify-content: space-around;
}
#navlist a {
    text-decoration: none;
    color: #bdffe2;
}
#nav-link:hover {
    text-decoration: underline;
}
