.NavBar {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;

    margin: 0vh auto;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100vw;
    background: var(--accent-three);
}
#navlist {
    display: flex;
    width: 90%;
    justify-content: space-around;
    list-style-type: none;
}
#navlist a {
    text-decoration: none;
    color: var(--accent-one);
}
#nav-link:hover {
    text-decoration: underline;
}
