

#dashboard-wrapper {
    padding: 1vh 2vw;
    margin: 5vh 0 2vh 0;
    display: flex;
    min-width: 90vw;
    max-width: 100vw;
    justify-content: space-around;
    animation-name: flyin;
    color: var(--light-text);
    border-radius: 10px;
    flex-flow: column wrap;
    min-height: 55vh;
    max-height: 110vh;
    background-color: var(--main-fg);
    box-shadow: 6px 6px 16px rgba(10, 16, 51, 0.59),
    -6px -6px 16px rgba(57, 145, 233, 0.57);
}

@keyframes flyin {
    0%{
        transform: scale(0) translate(200vw,200vh);

    }
    100%{
        transform: scale(1) translate(0vw,0vh);

    }
}



.dashboard-select {
    background-color: hsla(205, 87%, 69%, 0.61);
    color: white;
    border: none;
    width: 60%;
    margin: 1vh;
    height: 3vh;
    border: none;
    box-shadow: -3px 3px 10px inset rgba(70, 70, 140, 0.65), 1px -1px 2px inset white;
}

#radio-options {
    font-size: 15px;
}



input:focus  {
   outline: none;
}

.dashboard:focus {
   outline: none;
}

.dashboard > h2 {
   color: var(--main-fg);
   font-size: 2vh;
   font-family: "Gill Sans";
}



.form-input-label {
   display: none;
}

.button-primary {
   border: none;
   cursor: pointer;
   background-color: hsl(170, 100%, 23%);
   color: white;
   padding: 1vh 1vw;
   border-radius: 5px;
   min-width: 40%;
   font-size: 2.2vh;
   box-shadow: -2px 10px 11px 0px inset rgba(189, 255, 226, 0.22),
                -1px 3px 3px 3px rgba(25, 62, 124, 0.43);
   transition-property: background;
   transition-duration: .5s;
   transition-timing-function: linear;
   border: none;
}

.button-primary:focus {
   outline: none;
   border: none;
}

.button-primary:hover, .button-choose:hover  {
   background-color: hsl(173, 100%, 30%);
   border: none;
}
.button-primary:active {
   background-color: hsl(180, 100%, 30%);
   box-shadow: -2px 10px 11px 0px inset rgba(189, 255, 226, 0.22),
   -1px 3px 3px 3px inset rgba(25, 62, 124, 0.43);
   border: none;
}
button.get-random-button {
    width: 70%;
    margin: 5px;
    font-size: 18px;
}
.display-random-activity, .display-chosen-activity {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    color: var(--white);
    padding: 1vh;
}

.suggestionBorder {
    border-style: groove;
    border-radius: 10px;
    margin-bottom: 10px;
}
.dropdown-div {
    display : flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 1vh;
    margin: 1vh auto;
    align-items: center;
    color: var(--light-text);   
}

#chosen {
    color: var(--white);
}

.display-random-activity > h3 {
    font-size: 15px;
}

.display-random-activity > p {
    padding: .3vh .4vw;
    font-size: 12px;
}

.display-random-activity > button {
    margin: 1vh 1vw;
}

#dashboard-wrapper > section > button {
    background: inherit;
}

#filter-select {
    white-space: nowrap;
    font-size: 15px;
}

li.activity-list-item {
  max-width: 100%;
  list-style-type: none;
  margin-bottom: 0.3em;
}



.activity-list {
    padding: 0;
    margin-top: 0;
}

.activity-list > h2 {
    font-size: 15px;
}


.activity-list > li {
    font-size: 12px;
}

.hideMeh {
    display: none
}

.result-wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;
}


.button-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

#result-buttons {
    margin-bottom: 1vh;
    padding: 1vh;
}

.button-choose {
    background-color: unset;
    color: var(--white);
    border-style: none;
    font-size: 15px;
    padding: 2vw;
}

.button-choose:hover {
    cursor: pointer;
}

@media screen and (min-width: 700px) {
    #radio-options {
        font-size: 18px;
    }

    button.get-random-button {
        width: 60%;
        margin: 10px;
        padding: 10px;
        font-size: 22px;
    }

    .display-random-activity > h3 {
        font-size: 20px;
    }
    
    .display-random-activity > p {
        padding: .3vh .4vw;
        font-size: 15px;
    }

    .filter-select {
        white-space: nowrap;
        font-size: 18px;
    }

    .activity-list > h2 {
        font-size: 20px;
    }
    
    
    .activity-list > li {
        font-size: 15px;
    }
    
    .button-choose {
        font-size: 22px;
    }
}

@media screen and (min-width: 1200px) {
    #radio-options {
        font-size: 18px;
        padding: 10px;
    }

    .dropdown-div {
        justify-content: center;
    }

    button.get-random-button {
        width: 65%;
        margin: 10px;
        padding: 10px;
        font-size: 22px;
    }

    .display-random-activity > h3 {
        font-size: 20px;
    }
    
    .display-random-activity > p {
        padding: .3vh .4vw;
        font-size: 15px;
    }

    .filter-select {
        white-space: nowrap;
        font-size: 18px;
    }

    .activity-list > h2 {
        font-size: 20px;
    }
    
    
    .activity-list > li {
        font-size: 15px;
    }
    
    .button-choose {
        font-size: 22px;
    }
}