
@import url('https://fonts.googleapis.com/css?family=Audiowide|Cabin:400,500,500i,600,600i,700i|Do+Hyeon|Exo:100,100i,400,500,500i,600,600i,800i,900,900i|Gotu|Play|Quantico:400,700|Teko:400,500,600&display=swap');

:root {
  --main-bg: #275283;

  --main-fg: #002fab;
  --accent-one: #419ABE;
  --accent-two: #00dae3;
  --accent-three: #233A85;
  --white: #fdfbfd;
  --light-text: #adf8ff;



  --bg: #66b6fc; /* Old browsers */
  --bg-grad3: -moz-linear-gradient(top, hsl(208,96%,69%) 0%, hsl(203,100%,85%) 100%); /* FF3.6-15 */
  --bg-grad2: -webkit-linear-gradient(top, hsl(208,96%,69%) 0%,hsl(203,100%,85%) 100%); /* Chrome10-25,Safari5.1-6 */
  --bg-grad: linear-gradient(to bottom, hsl(208,96%,69%) 0%,hsl(203,100%,85%) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}


*:not(body) { transition: all .5s ease; }


body {
  margin: 0;
  font-family: 'Exo', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-height: 100vh;
  max-width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background-color: var(--main-bg);
    color: #d2edff;
}
h1,h2,h3,h4,h5 {
  color: var(--accent-three);
}
#form-wrapper > form > h2 {
  color: var(--accent-three);
}

.app-header {
  display: flex;
}

